html body{
    margin: 0;
    font-size: arial;
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("pink.jpg");
    background-attachment: fixed;
}

#navbar{
    position: absolute;
    width: 100%;
    height: 50px;
    border: 1px solid #333;
    background: #333;
}

#navbar ul{
    list-style: none;
    margin: 0;
}

#navbar ul li{
    background: #333;
    width: 150px;
    border-right: 1px solid white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: right;
    color: white;
    font-size: 18px;
}

#navbar ul ul{
    display: none;
}

#navbar ul li:hover > ul{
    display: block;
}

#navbar li:hover{
    background: black;
    cursor: pointer;
}

a{
    color: white;
    text-decoration: none;
}

img[name="logo"]{
    position: absolute;
    top: 25%;
    left: 30%;
}